header{
  display: grid;
  grid-area: 8;
  min-height:100vh;
  margin: 0;
  position: fixed;
  z-index: 1;
  width:75px;

  background: #242424;
}
.fas,.far{
  display: inline;
  font-size: 1.5em;
  height:50px;
  width:50px;
}
header .fas, header .far, header li a{
  color:white;
}
#slider li:hover{
  transform: scale(1.30);
}
#slider{
  height:60vh;
  grid-row: 3/6;
  margin: 0;
  padding: 0;
}

#slider li{
  margin:auto;
}

ul{
  padding:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  list-style: none;
}