body{
  margin:0;
  padding: 0;
  background: #ffffff;
  display: flex;
}
a{
  text-decoration:none;
  margin:0;
  padding: 0;
}
h1,h2{
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  color: white;
}
body,#bloc_contenu{
  min-height:100vh;
}
#bloc_contenu{
  position: relative;
  left:65px;
  display:flex;
  flex-direction: column;
  min-width: 90%;
  max-width: 95%;
}
/* c99f88 */
/* --------- STYLE DE LA PARTIE A PROPOS ---------  */
/* --------- STYLE DE LA PARTIE A PROPOS ---------  */
/* --------- STYLE DE LA PARTIE A PROPOS ---------  */
/* --------- STYLE DE LA PARTIE A PROPOS ---------  */

.bloc_home{
  background-image: url("../Images/office.jpg");
  min-height:100vh;
  width: 100%;
}

#p_contenu{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(47, 81, 98, 0.95);
  width: 100%;
  margin: auto;
  height: 100vh;
}
#top_content{
  padding: 2em;
  text-align: center;
}
#top_content h1{
  font-size: 3em;
  margin: auto; 
}
#p_contenu article{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  background: #cba189;
  margin: 2em auto;
  max-height: 450px;
  min-height: 400px;
  box-shadow: inset 0 0 5px #ffffff;
}
#p_contenu article h2{
  font-size: 1.8em;
  width: 100%;
  text-align: center;
}
.presentation{
  width: 35%;  
  background:#eac6b1;
  border-right:solid 1px white;
  border-left: solid 1px white;
  border-radius: 2%;
  padding: 1em;
  text-align: justify;
  font-family: 'Indie Flower', cursive;
  font-size: 1.3em;
  max-height: fit-content;
}
#logo_Title{
  margin: auto;
}
#bottom_content{
  text-align: right;
  margin: 0 5% 0 0;
}
#btn_dll_CV{
  padding: 2%;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background: #c99f88;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px 3px rgb(119, 93, 79);
}
#btn_dll_CV:hover{
  padding: 2%;
  background: #eac6b1;
  box-shadow: inset -2px -2px -3px rgba(47, 81, 98, .6), inset 2px 2px -3px rgb(47, 81, 98);
}

#btn_dll_CV a{
  font-family: Raleway;
  color: white;
  font-size: 1.3em;
  text-transform: uppercase;
}
 /* --------- STYLE DE LA PARTIE COMPETENCES ---------  */
 /* --------- STYLE DE LA PARTIE COMPETENCES ---------  */
 /* --------- STYLE DE LA PARTIE COMPETENCES ---------  */
 /* --------- STYLE DE LA PARTIE COMPETENCES ---------  */
.bloc_competences{
  min-height:100vh ;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.bloc_competences h2{
  margin: 0;
  padding: 2% 0 2% 5%;
  background: #2f5162;
  font-size: 1.8em;
  text-decoration: underline;
}
#exp_contenu{
  display: flex;
  /* justify-content: space-between; */
}
#comp_Pro,#comp_Pri{
  max-width: 50%;
  min-width: 50%;
  padding: 5px;

}
#comp_Pro{
  background:#cba189;
  border-top: solid white 10px;
  max-height: 80vh;
}
#comp_Pri{
  background:#fff;
  border-top: solid#cba189 10px;
}
#comp_logiciels{
  display: flex;
  justify-content: space-between;
  max-width: 98%;
  min-width: 97%;
  margin: auto;
}
#comp_logiciels img{
 width:14%;
 border:solid white 1px;
 border-radius:50% ;
 margin: 5px;
}
.titres_barres{
  width: 35%;
  display: flex;
  align-items: center;
}
.barre_prog{
  display: block;
  width: 180px;
  height: 20px;
  background: #fff;
  border-radius:5px;
  -webkit-border-radius: 5px%;
  -moz-border-radius: 5px;
}

.barre_prog:after{
  content: attr(data-percent);
  background: #2f5162;
  border-radius: 5px;
  -webkit-border-radius: 5px%;
  -moz-border-radius: 5px;
  display: block;
  height: 20px;
  overflow: hidden;
  font: 1.3em sans-serif;
  text-align: center;
  color: #fff;
  opacity: 0.8;
}
 
.photo:after, .illu:after{
  width: 80%;
 }
.ind:after{
  width: 60%;
}
