body{
  margin:0;
  padding: 0;
  background: #ffffff;
  display: flex;
}
a{
  text-decoration:none;
  margin:0;
  padding: 0;
}
body,#bloc_contenu{
  min-height:100vh;
}
#bloc_contenu{
  position: relative;
  left:65px;
  display:flex;
  flex-direction: column;
  min-width: 90%;
  max-width: 95%;
}
/* c99f88 */

.bloc_home{
  /* background:#516777; */
  background-image: url("../Images/office.jpg");
  min-height:100vh;
  width: 100%;
}
#p_contenu{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(47, 81, 98, 0.95);
  width: 100%;
  margin: auto;
  height: 100vh;
}
#top_content{
  padding: 2em;
  text-align: center;
}
#top_content h1,#top_content h2,#p_resume h2{
  font-family: 'Raleway', sans-serif,Light;
  color: white;
 
}
#top_content h1{
  font-size: 3em;
  margin: auto; 
}
#p_contenu article{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  background: #51adf0;
  margin: 2em auto;
}
#p_contenu article h2{
  font-size: 1.8em;
  width: 90%;
  margin: 2% 0 2% 5%;
}
.presentation{
  width: 30%;  
  background:#285c82;
  border-right:solid 1px white;
  border-left: solid 1px white;
  border-radius: 2%;
  padding: 5px;
  text-align: left;
  font-family: 'Indie Flower', cursive;
  font-size: 1.3em;
}
#logo_Title{
  margin: auto;
}
#bottom_content{
  text-align: right;
  margin: 0 5% 0 0;
}
#btn_dll_CV{
 padding: 2%;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background: #c99f88;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px 3px rgb(119, 93, 79);
}
#btn_dll_CV a{
  font-family: Raleway;
  color: white;
  font-size: 1.3em;
  text-transform: uppercase;
}