header{
    min-height:100vh;
    margin: 0;
    position: fixed;
    z-index: 50;
    max-width: 7%;
    min-width: 4%;
    background: #242424;
  }
  .fas,.far{
    display: inline;
    font-size: 1.5em;
    max-width:55px;
    min-width: 54px;
    text-align: center;
    vertical-align: middle;
  }
#nav_liens{
  margin: 0;
  height:10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}