
#slider li a{
    font-family: 'Quicksand', sans-serif;
    font-size: 0.8em;
    margin-left: 5px;
    border-left: solid #888888 1px;
}
.nav_links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.fas,.far,li a{
    color:white;
}

#logo_Title,.logo{
    height:100px;
    width:100px;
    margin:5px;
}
#slider{
    height:75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
ul{
    height: 100%;
    list-style: none;
    padding: 0;
}
#slider li,#nav_liens li{
    height:25%;
}